/* .calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .cabecera div {
    text-align: center;
    background-color: #eee;
  }
  
  .cuerpo div {
    text-align: center;
  } */

  #calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }